.wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 32px;  
    transition: 300ms all;

    &__theme--glow {
        box-shadow: inset 0 0 10px rgba(173, 230, 252, 0.5), 0 0 20px rgb(173, 230, 252);
        background-color: rgba(173, 230, 252, 0.18);
    }

    &__theme--original {
        box-shadow: none;
        background-color: #120235;
    }

    &__clickable {
        cursor: pointer;

        &:hover {
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.18);
            border-radius: 32px;
        }
    }
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ade5fc;
    padding: 8px 32px;
    border-right: none;
    border-left: none;
    transition: 300ms all;
    max-width: 960px;
    min-height: 42px;

    &__theme--glow {
        color: #ade5fc;
    }

    &__theme--original {
        color: white;
        background-color: #120235;
    }

    &__hovered {
        color: white;
        border: 2px solid white;
        border-right: none;
        border-left: none;
    }
    
}

.triangleLeft {
    display: inline-block;
    width: 29px;
    height: 30px;
    border: 2px solid #ade5fc;
    margin-right: -14px;
    transform: rotate(45deg);
    margin-top: 6px;
    border-top: none;
    border-right: none;
    transition: 300ms all; 

    &__hovered {
        border: 2px solid white;
        border-top: none;
        border-right: none;
    }
}

.triangleRight {
    display: inline-block;
    width: 29px;
    height: 30px;
    border: 2px solid #ade5fc;
    margin-left: -14px;
    transform: rotate(45deg);
    margin-top: 6px;
    border-bottom: none;
    border-left: none;
    transition: 300ms all; 

    &__hovered {
        border: 2px solid white;
        border-bottom: none;
        border-left: none;
    }
}

.connected {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.connector {
    flex: 1;
    border: 1px solid #ade5fc;

    &__hovered {
        border: 1px solid white;
    }

    &__right {
        right: 0;
        margin-left: 4px;
    }

    &__left {
        left: 0;
        margin-right: 4px;
    }
}
