html,
body {
  padding: 0;
  margin: 0;
  background-color: #120235;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
